.built
*.vala~
*.template~
*.vapi~
*.ui~
*.md~
.gitignore~
*.ui#
*.xml~
Recipe~
Recipe.conf
*.pot
system-info-0.1.tar.bz2
system-info_0.1.orig.tar.gz
system-info_0.1-0.debian.tar.gz
system-info_0.1-0.dsc
system-info_0.1-0_source.changes
system-info_0.1-0_amd64.deb
system-info-0.1.tar.gz
system-info-0.1.tar.xz
