[Desktop Entry]
Type=Application
Name=System Information
Comment=Report detailed system information
GenericName=Information and Performance
Exec=system-info
Icon=application-default-icon
Terminal=false
Categories=System;
X-GNOME-Gettext-Domain=system-info
Name[es]=Información del sistema
